#myFileMenuBtn, #signoutMenuBtn {
    -fx-background-color: #05071F;
    -fx-text-fill: #e7e5e5;
}

#myFileMenuBtn:hover, #signoutMenuBtn:hover {
    -fx-background-color: #10165F;
}

#myFileMenuBtn:hover, #signoutMenuBtn:hover {
    -fx-background-color: #1620A1;
}

.contextMenu, .contextMenu:hover {
    -fx-background-color: transparent;
}

.contextMenuItem {
    -fx-pref-height: 27.0;
    -fx-pref-width: 49.0;
    -fx-border-color: #2A73FF;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: gray;
    -fx-text-fill: #05071f;
    -fx-fill: #05071f;
}

.contextMenuItem:hover {
    -fx-pref-height: 27.0;
    -fx-pref-width: 49.0;
    -fx-border-color: #2A73FF;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-text-fill: #05071f;
    -fx-fill: #05071f;
}